#cursor{
	width: 60px !important;
	height: 60px !important;
	border: 0px !important;
	background: #8CD38A;
	border-radius: 30px !important;
	opacity: .7;
/* 	margin: -30px 0px 0px -30px; */
	pointer-events: none;
	
}

#main {
	background-color: #FDD;
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
}

#photo-strip {
	position: relative;
	width: 2500px;
}